@import url("https://fonts.googleapis.com/css2?family=Acme&family=Bungee+Spice&family=Dancing+Script:wght@400;500&family=Nabla&display=swap");

* {
  box-sizing: border-box;
  font-family: "Acme", sans-serif;
}

*::selection {
  background-color: #031424;
  color: #8eaebd;
}

/*HEADER*/
header {
  display: flex;
  .img-logo {
    width: 200px;
  }
}

/*NAVBAR*/

.navbar {
  .nav-item.active {
    text-decoration: underline;
    color: #30415d;
  }
  .nav-item:hover {
    text-decoration: underline;
    color: #30415d;
  }
}

/*BODY*/
body {
  background-color: #031424;
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "nav" "main" "footer";
  main {
    background-color: #031424;
    color: #ffffff;
    padding: 1rem;
    grid-area: main;
  }
}

/*CAROUSEL*/
.carousel-inner img {
  width: 100%;
  max-height: 650px;
  .carousel-inner {
    height: 650px;
  }
}

/*INDEX VENTAJAS SOMOS TRAVEL*/

.ventajas {
  text-align: center;
}

.card1 {
  .card-title1,
  .card-p1 {
    margin-bottom: 10px;
    text-align: center;
  }
  .text-center {
    text-align: center;
  }
  i {
    font-size: 100px;
    color: #8eaebd;
  }
}
.card1:hover {
  background-color: #30415d;
  border-radius: 10px;
}

/*FOOTER*/

footer {
  background-color: #031424;
  color: #ffffff;
  padding: 1rem;
  grid-area: footer;
  .pie {
    list-style-type: none;
    display: flex;
    .item-footer {
      margin-right: 54px;
      .fa-brands {
        font-size: 20px;
        text-decoration: none;
        color: #ffffff;
        &:hover {
          color: #30415d;
        }
      }
    }
  }
}

/*ANTES DE VIAJAR*/

.card {
  background-color: #30415d;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  .card-text {
    text-align: justify;
  }
}

/*CARD DESTINOS*/
.container {
  background-color: #08063d00;
  .card {
    .card-img {
      max-width: 100%;
      align-self: center;
      width: 100%;
      margin-bottom: 10px;
    }
    .card-title {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .card-p {
      font-size: 14px;
      margin-bottom: 10px;
    }
    .card-button {
      background-color: #7298ac;
      border: 0;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      width: 100%;
      &:hover {
        background-color: #031424;
        color: #7298ac;
      }
    }
  }
}

/*EGIPTO*/

.fa-solid {
  font-size: 100px;
  padding-bottom: 15px;
}

.egipto10 {
  text-align: center;
  padding-bottom: 15px;
}

.h4-eg,
.p-eg {
  margin-bottom: 10px;
  text-align: center;
}

.ulegipto {
  list-style-type: none;
  .bi {
    font-size: 1rem;
  }
}

/*KENIA*/
.safari {
  text-align: center;
  padding-bottom: 15px;
}

.h4-kenia,
.p-kenia {
  margin-bottom: 10px;
  text-align: center;
}

.ulkenia {
  list-style-type: none;
}

/*MACHUPICCHU*/
.montañas {
  text-align: center;
  padding-bottom: 15px;
}

.h4-machu,
.p-machu {
  margin-bottom: 10px;
  text-align: center;
}

.ulmachu {
  list-style-type: none;
}

/*MALDIVAS*/
.islas {
  text-align: center;
  padding-bottom: 15px;
}

.h4-maldivas,
.p-maldivas {
  margin-bottom: 10px;
  text-align: center;
}

.ulmaldivas {
  list-style-type: none;
}

/*RIO DE JANEIRO*/
.rio {
  text-align: center;
  padding-bottom: 15px;
}

.h4-rio,
.p-rio {
  margin-bottom: 10px;
  text-align: center;
}

.ulrio {
  list-style-type: none;
}

/*TAILANDIA*/
.tailandia {
  text-align: center;
  padding-bottom: 15px;
}

.h4-tai,
.p-tai {
  margin-bottom: 10px;
  text-align: center;
}

.ultai {
  list-style-type: none;
}

/*ACCORDIONS*/

.accordion {
  .accordion-body {
    color: #ffffff;
    background-color: #30415d;
  }
  .accordion-button {
    color: #ffffff;
    background-color: #031424;
  }
}

/*FORM*/
.contactanos {
  color: #8eaebd;
  text-align: center;
}
form {
  margin: 50px auto;
  .feedback-input {
    color: white;
    font-family: "Acme", sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #8eaebd;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    &:focus {
      border: 2px solid #30415d;
    }
  }
  textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
  }
  [type="submit"] {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    width: 100%;
    background: #8eaebd;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: #031424;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
    &:hover {
      background: #30415d;
    }
  }
}

@media (min-width: 992px) {
  .alto {
    height: 100vh;
  }
}
